body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgb(0, 0, 0);
    background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(../imagens/tela\ 2.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    /*pointer-events: none; */
    cursor: none;
}

.textureBox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../imagens/tela1.gif');
    background-size: cover;
    background-position: center;
    mix-blend-mode: difference;
    opacity: 0.15;
    z-index: 9999;
    pointer-events: none;
    cursor: not-allowed;
}

.boxVidas {
    background-color: none;
    width: 5%;
    height: 5%;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.boxScore {
    background-color: none;
    width: 20%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    padding: none;
    border-radius: 10px;
}

.boxScore h1 {
    font-size: 24px;
}

.boxScore h3 {
    font-size: 28px;
    color: white;
    font-family: "Pixelify Sans", sans-serif;
    margin-top: 0px;
}


.coracao {
    max-height: 70%; /* garante que caibam na altura da div */
    max-width: 70%;  /* evita ultrapassar largura */
    object-fit: contain; /* mantém proporção */
    margin-left: 20px;
    margin-right: 20px;
    filter: brightness(0) saturate(100%) invert(38%) sepia(93%) saturate(3000%) hue-rotate(95deg) brightness(95%) contrast(90%);

    padding: 0;
    pointer-events: none; 
    cursor: not-allowed;
    user-select: none;
    outline: none;

    animation: flickerGlow 5.5s infinite;
    filter: drop-shadow(0 0 20px rgb(64, 255, 0)) drop-shadow(0 0 40px rgb(51, 255, 0));
    transition: opacity 0.1s;

}

@keyframes piscarESumir {
  0%, 20%, 40%, 60%, 80% { opacity: 1; }
  10%, 30%, 50%, 70%, 90% { opacity: 0; }
  100% { opacity: 0; } /* termina sumida */
}

.piscar-sumir {
  animation: piscarESumir 1s forwards; /* 1s de piscar e sumir */
}




.boxRespostas{
    
    /*margin-top: 100px;*/
    display: grid;
    grid-template-columns: repeat(2, 350px);
    gap: 80px;;

}

/* Overlay escuro que cobre a tela toda */
.overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none; /* escondido por padrão */
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

/* Container da imagem com animação */
.alert-box {
    position: relative;
    background: none;
    animation: slideDown 0.6s ease forwards;
    transform: translateY(-100vh); /* começa fora da tela */

    display: flex;
    align-items: center;
    justify-content: center;
}

.alert-box img {
    
    width: 60%;
    height: auto;

}

@keyframes slideDown {
    from { transform: translateY(-100vh); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}



h1{
    color: rgb(0, 255, 0);
    font-family: "Jersey 15", sans-serif;
    font-weight: 500;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 0px;
    padding: 0;
    pointer-events: none; 
    cursor: not-allowed;
    user-select: none;
    outline: none;

    animation: flickerGlow 5.5s infinite;
    text-shadow:
        0 0 10px rgb(0, 255, 0),
        0 0 20px rgb(0, 255, 0),
        0 0 40px rgb(0, 255, 0),
        0 0 80px rgb(0, 255, 0);
    transition: opacity 0.1s;
}

button {
    color: rgb(255, 255, 255);
    font-family: "Jersey 15", sans-serif;
    font-weight: 300;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 0px;
    padding: 0;
    outline: none;
    border-radius: 30px;

    width: 100%;
    height: 100%;

    background-color: transparent; 
    border: 3px solid rgb(0, 255, 0); 
    cursor: pointer;

    transition: 
        background-color 0.4s ease,
        border-color 0.4s ease,
        transform 0.2s ease-in-out;

    animation: flickerGlow 5.5s infinite;
    text-shadow:
        0 0 10px rgb(0, 255, 0),
        0 0 20px rgb(0, 255, 0),
        0 0 40px rgb(0, 255, 0),
        0 0 80px rgb(0, 255, 0);
}

button:focus {
    transform: scale(1.2);
    background-color: rgb(0, 255, 0); 
    border-color: transparent;
    color: rgb(0, 0, 0);
}

.btn-errado {
  transform: scale(0.5);
    background-color: rgb(255, 4, 0); 
    border-color: transparent; 
}


b{

    animation-play-state: running;
    color: white;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 900px;
    font-size: 30px;    
    margin-top: 0px;
    padding: 0;
    margin-bottom: 0px;
    cursor: none;
    pointer-events: none;
    user-select: none;
    outline: none;
    
    animation: flickerGlow2 4.5s infinite;
    text-shadow:
        0 0 10px rgb(255, 255, 255),
        0 0 20px rgb(255, 255, 255),
        0 0 40px rgb(255, 255, 255),
        0 0 80px rgb(255, 255, 255);
    transition: opacity 0.2s;

}



h2 {

    animation-play-state: running;
    color: white;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 700;
    font-size: 40px;    
    margin-top: 0px;
    
    padding: 0;
    margin-bottom: 0px;
    cursor: none;
    pointer-events: none;
    user-select: none;
    outline: none;
    text-align: center;
    
    
    
}

p{
     animation-play-state: running;
    color: white;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;    
    margin-top: 0px;
    padding: 0;
    margin-bottom: 0px;
    cursor: none;
    pointer-events: none;
    user-select: none;
    outline: none;
    
    animation: flickerGlow2 4.5s infinite;
    text-shadow:
        0 0 10px rgb(255, 255, 255),
        0 0 20px rgb(255, 255, 255),
        0 0 40px rgb(255, 255, 255),
        0 0 80px rgb(255, 255, 255);
    transition: opacity 0.2s;
    
}



.animar {
    animation: piscar 0.5s ease-in-out 1;
}

@keyframes scaleAnimation {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
}

@keyframes glow {
      from {
        text-shadow: 0 0 5px rgb(0, 255, 0);
      }
      to {
        text-shadow: 0 0 10px rgb(0, 255, 0), 0 0 20px rgb(0, 255, 0), 0 0 30px rgb(0, 255, 0);
      }
}

@keyframes flickerGlow {
    0% {
        opacity: 0.8;
        text-shadow: 0 0 10px rgb(0, 255, 0), 0 0 20px rgb(0, 255, 0);
    }
    10% {
        opacity: 1;
        text-shadow: 0 0 20px rgb(0, 255, 0), 0 0 40px rgb(0, 255, 0);
    }
    20% {
        opacity: 0.8;
        text-shadow: 0 0 10px rgb(0, 255, 0), 0 0 30px rgb(0, 255, 0);
    }
    25% {
        opacity: 0.9;
        text-shadow: 0 0 5px rgb(0, 255, 0);
    }
    30% {
        opacity: 1;
        text-shadow: 0 0 30px rgb(0, 255, 0), 0 0 60px rgb(0, 255, 0);
    }
    40% {
        opacity: 0.8;
        text-shadow: 0 0 10px rgb(0, 255, 0);
    }
    50% {
        opacity: 1;
        text-shadow: 0 0 40px rgb(0, 255, 0), 0 0 80px rgb(0, 255, 0);
    }
    60% {
        opacity: 0.9;
        text-shadow: 0 0 20px rgb(0, 255, 0), 0 0 40px rgb(0, 255, 0);
    }
    70% {
        opacity: 0.8;
        text-shadow: 0 0 10px rgb(0, 255, 0);
    }
    80% {
        opacity: 0.9;
        text-shadow: 0 0 30px rgb(0, 255, 0), 0 0 60px rgb(0, 255, 0);
    }
    90% {
        opacity: 0.8;
        text-shadow: 0 0 10px rgb(0, 255, 0), 0 0 20px rgb(0, 255, 0);
    }
    100% {
        opacity: 1;
        text-shadow: 0 0 40px rgb(0, 255, 0), 0 0 80px rgb(0, 255, 0);
    }
}

@keyframes flickerGlow2 {
    0% {
        opacity: 0.8;
        text-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255);
    }
    10% {
        opacity: 1;
        text-shadow: 0 0 20px rgb(255, 255, 255), 0 0 40px rgb(255, 255, 255);
    }
    20% {
        opacity: 0.8;
        text-shadow: 0 0 10px rgb(255, 255, 255), 0 0 30px rgb(255, 255, 255);
    }
    25% {
        opacity: 0.9;
        text-shadow: 0 0 5px rgb(255, 255, 255);
    }
    30% {
        opacity: 1;
        text-shadow: 0 0 30px rgb(255, 255, 255), 0 0 60px rgb(255, 255, 255);
    }
    40% {
        opacity: 0.8;
        text-shadow: 0 0 10px rgb(255, 255, 255);
    }
    50% {
        opacity: 1;
        text-shadow: 0 0 40px rgb(255, 255, 255), 0 0 80px rgb(255, 255, 255);
    }
    60% {
        opacity: 0.9;
        text-shadow: 0 0 20px rgb(255, 255, 255), 0 0 40px rgb(252, 252, 252);
    }
    70% {
        opacity: 0.8;
        text-shadow: 0 0 10px rgb(242, 242, 242);
    }
    80% {
        opacity: 0.9;
        text-shadow: 0 0 30px rgb(255, 255, 255), 0 0 60px rgb(255, 255, 255);
    }
    90% {
        opacity: 0.8;
        text-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255);
    }
    100% {
        opacity: 1;
        text-shadow: 0 0 40px rgb(255, 255, 255), 0 0 80px rgb(255, 255, 255);
    }
}

@keyframes piscar {
    0%, 100% { opacity: 1; }
    25% { opacity: 0; }
    50% { opacity: 1; }
    75% { opacity: 0; }
}

.selected-scale {
    animation: scaleAnimation 0.3s ease-in-out;
}

@keyframes scaleAnimation {
    0% { transform: scale(1); }
    100% { transform: scale(1.2); }
    /*100% { transform: scale(1); }*/
}

